.header-panel {
    background: url('../img/material-design.jpg') right bottom;
}

.menu ul.siteslist {
    margin: 0;
}

.sitepic img {
    height: 50px !important;
}

.menu ul li {
    padding: 5px 0 5px 0px;
}

.pages {
    overflow: visible !important;
    position: relative;
}

.pages > div {
    padding-top: 0px;
}

.fullsiteWrapper img {
    max-width: 100%;
}

body {
    background: #367fa9;
}

.menu ul li.active {
    background-color: #222d32;
    position: relative;
}

.menu ul li a {
    color: #b8c7ce;
}

.sitename {
    margin-top: 15px;
}

.head {
    text-align: center;
    background: #ecf0f5;
    text-transform: uppercase;
}

.head h2 {
    margin-bottom: 15px;
    color: #222d32;
}

#shadow {
    border-radius: 0px 0px 2px 2px;
}