.header-panel {
    background: url('img/material-design.jpg') right bottom;
}

.girl-mini-photo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
}

.girl-mini-photo img {
    height: 50px !important;
}

.menu ul li {
    padding-left: 35px;
    padding: 5px 0 5px 30px;
}

.girl-name-in-list {
    margin-top: 0;
    color: #567ca4;
    font-weight: bold;
}

.girl-list-star {
    color: #567ca4;
    position: absolute;
    right: 10px;
    top: 14px;
}

.photolist-wrap {
    height: 250px;
    overflow: hidden;
    background: gray;
    margin: -19px -19px 100px;
}

.photolist {
    width: 130%;
}

.mainphoto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    margin-top: 65px;
    margin-left: 25px;
}

.mainphoto img {
    width: 250px;

}

.girl-name {
    position: absolute;
    margin: 80px 0 0 296px;
    text-transform: uppercase;
    color: white;
}

.girl-name i {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.vk-profile-button {
    color: #567ca4 !important;
}

.group-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.group-list li {
    text-transform: uppercase;
    margin-left: 0px;
    line-height: 30px;
    height: 38px;
    overflow: hidden;
}

.group-list img {
    width: 30px;
    margin-right: 5px;
    border-radius: 50%;
}

.group-list a {
    color: #567ca4;
    font-weight: bold;
    line-height: 30px;
    font-size: 12px;
}

.photolist img {
    height: 250px;
}

.girl-name {
    text-shadow: 2px 2px 1px black;
}

.simple-info {
    margin-left: 293px;
    margin-top: -70px;
}

.audio-list {
    max-height: 300px;
    overflow-x:hidden;
    overflow-y: auto;
}

.page img {
    max-width: 100%;
    display: inline-block;
}

.page {
    text-align: center;
}